/* colours */
/* element{
  background-color: rgb(244, 234, 224); /*white -> stone
  background-color: rgb(224, 100, 59); /*orange light
  background-color: rgb(146, 183, 116); /*green
  background-color: rgb(220, 64, 14); /*orange dark
  background-color: rgb(248, 239, 198); /*white egg/yellow
  background-color: rgb(175, 117, 194); /*purple 
  background-color: rgb(255, 191, 68); /*yellow 

} */

/*Fonts
.montserrat-alternates-thin {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 100;
  font-style: normal;
}

.montserrat-alternates-extralight {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 200;
  font-style: normal;
}

.montserrat-alternates-light {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 300;
  font-style: normal;
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 400;
  font-style: normal;
}

.montserrat-alternates-medium {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 500;
  font-style: normal;
}

.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 600;
  font-style: normal;
}

.montserrat-alternates-bold {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 700;
  font-style: normal;
}

.montserrat-alternates-extrabold {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 800;
  font-style: normal;
}

.montserrat-alternates-black {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 900;
  font-style: normal;
}

.montserrat-alternates-thin-italic {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 100;
  font-style: italic;
}

.montserrat-alternates-extralight-italic {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 200;
  font-style: italic;
}

.montserrat-alternates-light-italic {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 300;
  font-style: italic;
}

.montserrat-alternates-regular-italic {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 400;
  font-style: italic;
}

.montserrat-alternates-medium-italic {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 500;
  font-style: italic;
}

.montserrat-alternates-semibold-italic {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 600;
  font-style: italic;
}

.montserrat-alternates-bold-italic {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 700;
  font-style: italic;
}

.montserrat-alternates-extrabold-italic {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 800;
  font-style: italic;
}

.montserrat-alternates-black-italic {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 900;
  font-style: italic;
}


.arya-regular {
  font-family: "Arya", system-ui;
  font-weight: 400;
  font-style: normal;
}

.arya-bold {
  font-family: "Arya", system-ui;
  font-weight: 700;
  font-style: normal;
}

.fascinate-inline-regular {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}


end of all fonts
*/

/*START OF ALL STYLING*/

/*UNIVERSAL styling*/
.form-contain {
  max-width: 70%;
}

body {
  background-color: #f4eae0;

  width: 100%;
  height: 100%;
  --color: rgb(228, 222, 194);
  background-color: #f4eae0;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
}

body::-webkit-scrollbar {
  width: 0.75rem;
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(175, 117, 194);
  height: 50px;
}

.list-group-item + .list-group-item {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.list-group-item:first-child {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.list-group-flush > .list-group-item:last-child {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*hover states*/

.list-group-item + .list-group-item:hover {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(175, 117, 194);
}

.list-group-item:first-child:hover {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(175, 117, 194);
}

.list-group-flush > .list-group-item:last-child:hover {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(175, 117, 194);
}

.buttons-nav {
  margin-top: 55%;
  justify-content: space-between;
}

.btn-light {
  max-width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  border: none;

  background-color: rgb(224, 100, 59);
  box-shadow: rgb(0, 0, 0) -5px 5px;
  border: 1px solid black;

  text-align: center;

  color: black;
  font-family: "Arya", system-ui;
  font-weight: 700;
  font-size: larger;
  font-style: normal;
}

.btn-light:hover {
  max-width: 80%;
  margin: 0 auto;

  border-radius: 5px;
  border: none;
  border: 1px solid black;

  background-color: rgb(220, 64, 14);
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #000000;

  text-align: center;

  color: black;
  font-family: "Arya", system-ui;
  font-weight: 700;
  font-style: normal;
}

#btn-login {
  max-width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  border: none;

  background-color: rgb(175, 117, 194);
  box-shadow: rgb(0, 0, 0) -5px 5px;
  border: 1px solid black;

  text-align: center;

  color: black;
  font-family: "Arya", system-ui;
  font-weight: 700;
  font-size: larger;
  font-style: normal;
}

#btn-login:hover {
  max-width: 80%;
  margin: 0 auto;

  border-radius: 5px;
  border: none;
  border: 1px solid black;

  background-color: rgb(220, 64, 14);
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #000000;

  text-align: center;

  color: black;
  font-family: "Arya", system-ui;
  font-weight: 700;
  font-style: normal;
}

/*font styling*/
p {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 400;
  font-style: normal;
}
.meta-info {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 400;
  font-size: smaller;
  font-style: normal;
}

.meta-info > a {
  text-decoration: none;
  color: rgb(224, 100, 59);
}

.meta-info > a:hover {
  text-decoration: underline;
  color: rgb(220, 64, 14);
}

.logo-txt {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-top: 5%;
}

h3 {
  font-family: "Arya", system-ui;
  font-weight: 700;
  font-style: normal;
}

h6 {
  font-family: "Arya", system-ui;
  font-weight: 700;
  font-style: normal;
}

h5 {
  font-family: "Arya", system-ui;
  font-weight: 700;
  font-style: normal;
}

.list-group-item {
  font-family: "Arya", system-ui;
  font-weight: 400;
  font-style: normal;
}

.list-group-item:hover {
  font-family: "Arya", system-ui;
  font-weight: bolder;
  font-style: normal;
}

.form-header {
  font-family: "Arya", system-ui;
  font-weight: bolder;
  font-style: normal;
}

option {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 400;
  font-style: normal;
}

.form-select {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* wrapper for page content */
#wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.main-pageContent {
  max-width: 75%;
}

/* Page content styling*/

#page-content-wrapper {
  width: 100%;
  padding-top: 20px;
}

/* Sidebar Styling */
#sidebar-wrapper {
  min-height: 100vh;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 5px;
  margin: 15px;
  text-align: center;
}

.list-group {
  margin-top: 15px;
  margin-bottom: 15px;
}

.sidebar-item-group {
  margin: 0 auto;
  margin-top: 50%;
}

/*Activity Panel*/
#activityPanel-wrapper {
  min-height: 100vh;
  width: 250px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px 5px 5px -10px;

  box-shadow: rgba(175, 117, 194, 1) -5px 5px;

  text-align: center;
}

.activityPanel {
  max-width: 210px;
}

.activity-notice {
  padding-top: 15px;
}

h5.username-display {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: larger;
  padding-top: 25px;
}

/*profile panel*/
#profilePanel-wrapper {
  min-height: 100vh;
  width: 250px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px 5px 5px -10px;
  padding: 15px;

  box-shadow: rgba(175, 117, 194, 1) -5px 5px;
  text-align: center;
}

.profilePanel {
  max-width: 250px;
}

.profile-photo {
  display: flex;
  justify-content: center;
}

.username-handle {
  text-align: center;
  padding: 5px;
}

/*PROFILE PAGE */

/*FORMS STYLING*/
form {
  max-height: 900px;
  border: solid 2px black;
  border-radius: 5px;
  padding: 50px;
  margin-bottom: 50px;
}

.form-logout-btn {
  max-height: fit-content;
  border: none;
  padding: 5px;
  margin: auto;
}

.approved-denied-btns {
  max-height: fit-content;
  border: none;
  padding: 5px;
  margin: auto;
}

.comment-form-area {
  max-height: fit-content;
  border: none;
  padding: 5px;
  margin: auto;
}

.form-like-btn-container {
  margin-top: -50px;
  margin-left: 250px;
  margin-bottom: -50px;
}

.form-like-btn {
  max-height: fit-content;
  border: none;
  margin: auto;
}

.like-btn {
  padding: 5px;
  border: none;
  background-color: none;
}

input {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 400;
  font-style: normal;
}

label {
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 200;
  font-style: normal;
}

.form-buttons {
  display: flex;
  justify-content: center;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  outline: 0px;
  box-shadow: rgba(29, 29, 30, 0.25) 0px 0px 0px 0.15rem;
}

.form-select:focus {
  color: var(--bs-body-color);
  border: 1px solid black;
  background-color: var(--bs-body-bg);
  outline: 0px;
  box-shadow: rgba(29, 29, 30, 0.25) 0px 0px 0px 0.15rem;
}

option:hover {
  background-color: rgba(146, 183, 116, 1);
}

/*register & Login form*/
.login {
  max-height: 900px;
  border: solid 2px black;
  border-radius: 5px;
  padding: 50px;
  justify-content: center;
  margin-top: 13%;

  background-color: white;
  box-shadow: rgba(255, 191, 68, 1) -5px 5px;
}

.register {
  max-height: 900px;
  border: solid 2px black;
  border-radius: 5px;
  padding: 50px;

  background-color: white;
  box-shadow: rgba(255, 191, 68, 1) -5px 5px;
}

.login-reg {
  width: 80%;

  background-color: rgba(255, 191, 68, 1);
  border: 1px solid black;
  box-shadow: rgb(0, 0, 0) -5px 5px;

  color: black;

  font-family: "Arya", system-ui;
  font-weight: bolder;
  font-style: normal;
  font-size: 20px;
}

.login-reg:hover {
  width: 80%;

  background-color: rgba(255, 191, 68, 1);
  border: 1px solid black;

  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #000000;

  color: black;

  font-family: "Arya", system-ui;
  font-weight: bolder;
  font-style: normal;
  font-size: 20px;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext {
  border: 1px solid black;
}

.form-select {
  border: 1px solid black;
  padding: 15px;
}

#datetimeInput {
  border: 1px solid black;
  padding: 15px;
}

.input-group-text {
  border: 1px solid black;
  background-color: rgba(255, 191, 68, 1);

  font-family: "Montserrat Alternates", system-ui;
  font-weight: 500;
  font-style: normal;
}

.profile-form-label {
  font-family: "Arya", system-ui;
  font-weight: 700;
  font-style: normal;
}

.instagram-handle {
  font-family: "Arya", system-ui;
  font-weight: 700;
  font-style: normal;
}

.form-control[type="file"] {
  border: 1px solid black;
  padding: 13px;
}

textarea {
  border: 2px dashed rgb(32, 32, 32) !important;
}

/*END OF register & Login form*/

.share {
  max-height: 900px;
  border: solid 2px black;
  border-radius: 5px;
  padding: 50px;

  background-color: white;
  box-shadow: rgba(146, 183, 116, 1) -5px 5px;
}

.asks {
  max-height: 900px;
  border: solid 2px black;
  border-radius: 5px;
  padding: 50px;

  background-color: white;
  box-shadow: rgba(146, 183, 116, 1) -5px 5px;
}

.share-ask {
  width: 80%;

  background-color: rgba(146, 183, 116, 1);
  border: 1px solid black;
  box-shadow: rgb(0, 0, 0) -5px 5px;

  color: black;

  font-family: "Arya", system-ui;
  font-weight: bolder;
  font-style: normal;
  font-size: 20px;
}

.share-ask:hover {
  width: 80%;

  background-color: rgba(146, 183, 116, 1);
  border: 1px solid black;

  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #000000;

  color: black;

  font-family: "Arya", system-ui;
  font-weight: bolder;
  font-style: normal;
  font-size: 20px;
}

.form-header {
  text-align: center;
}

.profile-form-label {
  margin: 2px;
}

.custom-file-input {
  min-height: 58px !important;
  line-height: 2;
}

/*End of Forms*/

/*TABS*/
.nav-tabs {
  font-family: "Arya", system-ui;
  font-weight: 700;
  font-style: normal;

  border-bottom: solid 2.5px black;
}

.profile-tabs {
  max-width: 75% !important;
}

.profile-nav-tabs {
  text-align: center;
  width: 150px;
}

.home-tabs {
  max-width: 75%;
}

.home-nav-tabs {
  text-align: center;
  width: 250px;
}

/*All Tabs Styling*/

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: rgb(255, 191, 68);
  border: 2px solid black;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  background-color: rgb(255, 255, 255);
  color: black;
  border-bottom: 2px solid black;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
  background-color: rgb(175, 117, 194);
  color: black;
  border: 2px solid black;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active:hover {
  background-color: rgb(255, 191, 68);
  border: 2px solid black;
}

/*TABS Content Styling*/
.tab-content {
  width: 100%;
  height: 88%;

  scrollbar-color: rgb(175, 117, 194) white;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-margin: 20px;

  /* border-bottom: #000000 solid 2px;
  border-left: #000000 solid 2px;
  border-right: #000000 solid 2px;

  box-shadow: rgb(255, 191, 68) -5px 5px; */
}

/*TEMPLATE STYLING*/

/*Notice card*/
.notice-card {
  /*aligning*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;

  /*styling*/
  margin-top: 20px;
  margin-bottom: 20px;
}

.notice-card-cont {
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: rgb(255, 191, 68) -5px 5px;
}

.button-login-notice {
  max-height: fit-content;
  border: none;
  padding: 5px;
  width: 250px;
  margin: auto;
}

/*event card*/
.event-card {
  /*aligning*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  /*styling*/
  margin-top: 20px;
  margin-bottom: 20px;
}

.event-card-cont {
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: rgb(224, 100, 59) -5px 5px;
}

.lower-half {
  margin-top: 30px;
}

.view-event-comments-btn {
  margin: 0 auto;
  max-width: 180px;
  margin-top: 20px;
  margin-bottom: 10px;

  background-color: white;
  border: 2px solid black;
  color: black;

  font-family: "Montserrat Alternates", system-ui;
  font-weight: 400;
  font-size: smaller;
  font-style: normal;
}

.view-event-comments-btn:hover {
  margin: 0 auto;
  max-width: 180px;
  margin-top: 20px;
  margin-bottom: 10px;

  color: black;
  transform: translate(-0.25rem, -0.25rem);
  background: white;

  border: 2px solid black;
  box-shadow: rgb(224, 100, 59) 0.25rem 0.25rem;

  font-family: "Montserrat Alternates", system-ui;
  font-weight: 400;
  font-size: smaller;
  font-style: normal;
}

/*asks card*/
.ask-card {
  /*aligning*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  /*styling*/
  margin-top: 20px;
  margin-bottom: 20px;
}

.ask-card-cont {
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: rgb(0, 0, 0) -5px 5px;
}

.view-answers-asks-btn {
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;

  background-color: white;
  border: 2px solid black;
  color: black;

  box-shadow: rgb(0, 0, 0) -5px 5px;

  font-family: "Montserrat Alternates", system-ui;
  font-weight: 400;
  font-size: smaller;
  font-style: normal;
}

.show-thread {
  margin-top: -20px;
  border-radius: 5px;
}

.view-answers-asks-btn:hover {
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;

  background-color: rgb(0, 0, 0);
  color: white;
  border: 2px solid black;
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #000000;

  font-family: "Montserrat Alternates", system-ui;
  font-weight: 400;
  font-size: smaller;
  font-style: normal;
}

.bi-heart:hover {
  cursor: pointer;
}

/*user reply card*/
.user-reply-card {
  /*aligning*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  /*styling*/
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-reply-card-cont {
  width: 100%;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: rgba(146, 183, 116, 1) -5px 5px;
}

.bi-check-lg {
  margin: 0 auto;
  font-size: 3rem;
}

.check-icon-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/*END OF TEMPLATE STYLING*/

/*SINGLE POST PAGE */
.single-post-details {
  margin-top: 5%;
  margin-bottom: 5%;
}

.single-pg-post-ask {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.single-pg-post-ask-card {
  border-radius: 5px;
  border: 2px solid black;
}

.user-pfp-name {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;

  margin-top: 5%;
}

hr.dotted {
  border: none;
  border-top: 3px dotted black;
  width: 75%;
  margin: auto;
  margin-bottom: 15px;
}
.add-comment-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.reply-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 15px;
  width: 180px;

  background-color: white;
  color: #000000;
  border: solid black 2px;
  box-shadow: rgb(0, 0, 0) -5px 5px;
}

.reply-btn:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 15px;
  width: 180px;

  background-color: rgb(0, 0, 0);
  color: white;
  border: 2px solid black;
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #000000;
}

.single-post-comments {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/*admin styling*/

.admin-reviews {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.buttons {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.btn-yes {
  width: 200px;
  margin-bottom: 15px;
  border-radius: 5px;

  background-color: rgba(146, 183, 116, 1);
  box-shadow: rgb(0, 0, 0) -5px 5px;
  border: 1px solid black;

  text-align: center;

  color: black;
  font-family: "Arya", system-ui;
  font-weight: 700;
  font-size: larger;
  font-style: normal;
}

.btn-yes:hover {
  width: 200px;
  margin-bottom: 15px;
  border-radius: 5px;

  border: 1px solid black;
  background-color: rgba(146, 183, 116, 1);
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #000000;

  text-align: center;

  color: black;
  font-family: "Arya", system-ui;
  font-weight: 700;
  font-size: larger;
  font-style: normal;
}

.btn-no {
  width: 200px;
  margin-bottom: 15px;
  margin-inline-start: 50%;

  border-radius: 5px;

  background-color: rgb(220, 64, 14);
  box-shadow: rgb(0, 0, 0) -5px 5px;
  border: 1px solid black;

  text-align: center;

  color: black;
  font-family: "Arya", system-ui;
  font-weight: 700;
  font-size: larger;
  font-style: normal;
}

.btn-no:hover {
  width: 200px;
  margin-bottom: 15px;
  margin-inline-start: 50%;

  border-radius: 5px;

  border: 1px solid black;
  background-color: rgb(220, 64, 14);
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #000000;

  text-align: center;

  color: black;
  font-family: "Arya", system-ui;
  font-weight: 700;
  font-size: larger;
  font-style: normal;
}
/*END OF ALL STYLING*/
/* 
background-color: rgb(220, 64, 14);
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #000000; */
